<div class="row">

<% @posts.each do |post| %>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <%= filepicker_image_tag post.image, w: 230, h: 230, fit: 'clip'%>
                <p><%= post.content %></p>
            </div>
            <div class="panel-footer">
                <%= post.tags %>
                <div class="pull-right">
                    <i class="fa fa-plus-circle"></i>
                </div>
            </div>
        </div>
    </div>
<% end %>

</div>