<p>
  <strong>Post image:</strong>
  <%= @post.image %>   
</p>

<p>
  <strong>Post content:</strong>
  <%= @post.content %>   
</p>

<p>
  <strong>Post tags:</strong>
  <%= @post.tags %>   
</p>

<%= link_to 'Edit Post', edit_post_path(current_user), :class => "btn btn-default" %>
